body {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Header **/

header {
  background: rgba(255, 255, 255, 0.8);
  color: #808b96;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: black 2px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-right: -10px;
  display: flex;
  justify-content: flex-start;
}

header li {
  display: inline-flex;
  padding: 0 20px 0 20px;
  padding-left: 25px;
  font-size: 20px;
}

header #branding, #branding h1 {
  margin: 0 auto;
}

header nav {
  flex-direction: column;
  padding-top: 45px;
  display:flex;
  justify-content: flex-end;
  margin-top: -50px;
}
header nav ul {
  display: flex;
  flex-direction: column;
}

header .current a {
  color: #2c3e50;
  font-weight: bold;
}

header .highlight {
  font-weight: bold;
  color: #2c3e50;
  font-size: 30px !important;
  font-family: Arial, Helvetica, sans-serif;
}

header a {
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 3px;
  padding-top: 5px;
}

a:hover {
  color: #000;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Showcase */

#showcase {
  background-position: center;
  background: url('../images/indexpicture.jpg') no-repeat 0 -400px;
  height: 900px;
  width: 100%;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 250px;
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#showcase p {
  margin-left: 20px;
  margin-top: 90px;
  font size: 40px;
}

/* Cards */

.card{
  background-color:#fff;
  border-radius:10px;
  color:#333;
  box-shadow:0 3px 10px rgba(0,0,0,0.2);
  padding:20px;
  margin:10px;
}
.flex{
  justify-content:center;
  align-items:center;
  height:600px;
}

.blah {
  font-size: 50px;
  margin: 1.5rem 0;
  text-align: center;
}

.container{
  max-width:1100px;
  margin:0 auto;
  overflow:auto;
  padding:0 40px;
}

.languages .card{
  text-align:center;
  margin:18px 10px 40px;
  transition:transform 0.2s ease-in;
}

.languages .card h4{
  font-size:20px;
  margin-bottom:10px;
}

.languages .card:hover{
  transform:translateY(-15px);
}

/* Responsive SHIT */

@media (min-width: 1900px) {
}

@media (min-width: 1356px) {
  header .highlight {
    font-size: 10px;
    padding-right: 5px;
    padding-left: 10px;
   } @media (min-width: 1356px) {
    #showcase {
      height: 900px;
      width: 100%;
      background-position: center;
    }
  }
}

@media (min-width: 1314px) {
  header .highlight {
    font-size: 10px;
    padding-right: 2px;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 1300px) {
  header .highlight {
    font-size: 10px;
    padding-right: 10px;
    } header li {
      padding-left: 20px;
  }#showcase {
   height: 900px;
   width: 100%;
   background-position: center;
 }
 }

 @media (min-width: 1176px) {
   header .highlight {
     font-size: 10px;
     padding-right: 10px;
   } header li {
     padding-left: 0px;
   }#showcase {
     height: 900px;
     width: 100%;
     background-position: center;
   }
 }

 @media (min-width: 996px) {
  header .highlight {
    font-size: 10px;
    padding-right: 10px;
  } header li {
    padding-left: 0px;
    padding-right: 10px;
  }#showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 894px) {
  header li {
    padding-left: 0px;
    padding-right: 10px;
  } header ul li a{
    font-size: 15px;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 841px) {
     .blah {
       padding-bottom: 150px;
     }
}
@media (min-width: 653px) {
  .card {
     position: relative;
     top: 200px;
  }
}

@media (min-width: 503px) {
  .container .flex .languages .card  {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 740px) {
  header li {
    padding-left: 2px;
    padding-right: 2px;
  } header li a {
    font-size: 14px;
  } #branding .highlight {
    font-size: 20px !important;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 618px) {
  header li {
    padding-left: 1px;
    padding-right: 1px;
  } header li a {
    font-size: 10px;
  } #branding .highlight {
    font-size: 20px !important;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 536px) {
  header li {
    padding-left: 1px;
    padding-right: 1px;
  } header li a {
    font-size: 8px;
  } #branding .highlight {
    font-size: 15px !important;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }
}

@media (min-width: 500px) {
  header li {
    padding-left: 1px;
    padding-right: 1px;
  } header li a {
    font-size: 8px;
  } #branding .highlight {
    font-size: 13px !important;
  } #showcase {
    height: 900px;
    width: 100%;
    background-position: center;
  }

  @media (min-width: 416px) {
    } header ul {
      display: flex;
      flex-direction: column;
    } header li a {
      font-size: 6px;
    } #branding .highlight {
      font-size: 10px !important;
    } #showcase {
      height: 900px;
      width: 100%;
      background-position: center;
    }

@media (min-width: 375px) {
} header ul {
  display: flex;
  flex-direction: column;
} header li a {
  font-size: 6px;
} #branding .highlight {
  font-size: 10px !important;
} #showcase {
  height: 900px;
  width: 100%;
  background-position: center;
}
}
