.About-header-container {
  background: rgb(241, 241, 241);
  margin-bottom: 20px;

  .About-header {
    padding: 40px;
  }

  .About-header h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .About-header p {
    font-size: 25px;
    margin-top: 10px;
  }
}

.dark-mode .About-header-container {
  background: rgb(3, 3, 3);
}

@media (min-width: 1280px) {
  .container-about h2 {
    padding-left: 50px;
  }
  .container-about p {
    padding-left: 60px;
  }
  .container-about h3 {
    padding-left: 50px;
  }
  .container-about ul {
    padding-left: 60px;
  }
}
