.Button {
  display: flex;

  a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: auto;
    min-height: 50px;
    color: black;
    background: white;
    text-decoration: none;
    margin: 0 1rem;
  }
}
