.Button-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 4rem;
}

.Button {
  a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-width: 200px;
    height: auto;
    min-height: 50px;
    color: black;
    background: white;
    text-decoration: none;
    margin: 1rem 1rem;
  }
}
