@import '../../index.scss';

.Form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  input,
  textarea {
    width: 100%;
    font-family: $font-family;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  textarea {
    min-height: 150px;
    padding: 10px 15px;
    font-size: 14px;
    resize: vertical;
    width: 767px;
  }

  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: 200;
  }

  button[type='submit'],
  input[type='submit'] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 20x;
    font-weight: 400;
    letter-spacing: 2px;
  }

  button[type='submit']:hover,
  input[type='submit']:hover {
    background: #bf1650;
  }

  button[type='submit']:active,
  input[type='button']:active,
  input[type='submit']:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }

  input:disabled {
    opacity: 0.4;
  }

  input[type='button']:hover {
    transition: 0.3s all;
  }

  button[type='submit'],
  input[type='button'],
  input[type='submit'] {
    -webkit-appearance: none;
  }

  button[type='button'] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }

  hr {
    margin-top: 30px;
  }

  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
}
