.Services-header-container {
  background: rgb(241, 241, 241);
  margin-bottom: 20px;
}

.Services-header {
  padding: 40px;

  h1 {
    font-size: 35px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    margin-top: 10px;
  }
}

.Services-cards {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.Services-cards p {
  padding-right: 20px;
}

.Services h3 {
  font-size: 30px;
}

.dark-mode .Services-header-container {
  background: rgb(3, 3, 3);
}

.Services .Card {
  box-shadow: none;

  &:hover {
    transform: none;
  }
}

@media (min-width: 1280px) {
  .Services-cards {
    display: flex;
  }
}
