.Hero {
  min-height: 800px;
  position: relative;
}

.Hero h1 {
  margin-top: 250px;
  font-size: 55px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: white;
}

.Hero h2 {
  color: white;
}
