.ServiceOfferings {
  font-size: 50px;
  margin: 0;
  padding: 4rem 0 3rem 0;
  text-align: center;
  background: white;
  position: relative;
}

.ServiceOfferings h2 {
  font-size: 55px;
  margin-bottom: 30px;
}

.dark-mode .ServiceOfferings {
  color: #fff;
  background: #1e1e1e;
  z-index: 400;
}
