.Contact-header-container {
  background: rgb(241, 241, 241);
  margin-bottom: 20px;
}

.Contact-header {
  padding: 40px;
}

.Contact-header h1 {
  font-size: 35px;
  font-weight: 700;
}

.dark-mode .Contact-header-container {
  background: rgb(3, 3, 3);
}
