.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s ease-in;
  width: 100%;
}

.Card:hover {
  transform: translateY(-15px);
}

.Card svg {
  width: 100px;
  height: 100px;
}

.Card h3 {
  font-size: 35px;
}

.dark-mode .Card {
  background-color: #000;
}

.dark-mode .Card h3,
.dark-mode .Card p {
  color: #fff;
}

.dark-mode svg {
  fill: #fff;
}
