.Header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
  z-index: 400;
}

.Header a {
  color: #333;
  text-decoration: none;
}

.Header a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.Header-header {
  display: flex;
  align-items: center;
  min-height: 82px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.Header-header nav ul {
  display: flex;
  min-width: 500px;
  justify-content: space-around;
}

.Header-header h1 {
  color: var(--color-charcoal);
}

.Header-header h1 a:hover {
  text-decoration: none;
}

.Header-header nav {
  text-transform: uppercase;
  font-size: 20px;
}

.dark-mode .Header {
  background: rgb(0 0 0 / 80%);
}

.dark-mode .Header-header h1 {
  color: #fff;
}

.dark-mode .Header a {
  color: #fff;
}

.Header h1 a {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%)
      100% 98% / 220% 2px no-repeat,
    linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% / 220%
      2px no-repeat;
  color: #000;
  cursor: pointer !important;
  padding: 5px 2px;
  text-decoration: none !important;
  transition: all 0.35s ease-in-out;
}

.Header h1 a:hover,
.Header h1 a:focus {
  background-position: 0 98%, 100% 0;
  color: #000;
  outline: none;
  transition: all 0.35s ease-in-out;
}

.dark-mode .Header h1 a {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #fff 50%)
      100% 98% / 220% 2px no-repeat,
    linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff 50%) 0% 0% / 220%
      2px no-repeat;
  color: #fff;
}

.dark-mode .Header h1 a:hover,
.dark-mode .Header h1 a:focus {
  background-position: 0 98%, 100% 0;
  color: #fff;
  outline: none;
  transition: all 0.35s ease-in-out;
}
