.Header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
  z-index: 500;

  .Header-header {
    display: flex;
    align-items: center;
    min-height: 82px;
    justify-content: flex-start;
    padding: 0 1rem;
    margin: 0;

    @media (min-width: 1280px) {
      padding: 0;
    }
  }

  // Head-header nav start

  .Header-header nav {
    display: none;
    ul {
      @media (min-width: 1280px) {
        display: flex;
        min-width: 500px;
        justify-content: space-around;
      }
    }

    li {
      display: flex;

      a {
        position: relative;
        display: inline-block;
        outline: none;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px 20px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        -webkit-transition: 0.3s ease-out;
        -moz-transition: 0.3s ease-out;
        transition: 0.3s ease-out;

        span::before {
          width: 5px;
          height: 5px;
          background: transparent;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          border-top: 2px solid black;
          border-left: 2px solid black;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
        }
        span::after {
          width: 5px;
          height: 5px;
          background: transparent;
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          border-right: 2px solid black;
          border-bottom: 2px solid black;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
        }

        &::before {
          width: 5px;
          height: 5px;
          background: transparent;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          border-right: 2px solid black;
          border-top: 2px solid black;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
        }

        &::after {
          width: 5px;
          height: 5px;
          background: transparent;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-left: 2px solid black;
          border-bottom: 2px solid black;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
        }

        &:hover {
          color: black;
        }

        &:hover::before {
          opacity: 1;
          right: 5px;
          top: 5px;
        }

        &:hover::after {
          opacity: 1;
          left: 5px;
          bottom: 5px;
        }

        &:hover span::before {
          opacity: 1;
          left: 5px;
          top: 5px;
        }

        &:hover span::after {
          opacity: 1;
          right: 5px;
          bottom: 5px;
        }
      }
    }
  }
  // Header-nav end

  .Header-header h1 {
    color: var(--color-charcoal);
    font-size: 20px;
    white-space: pre;
    flex-grow: 1;
    @media (min-width: 650px) {
      font-size: 30px;
    }
    a {
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%)
          100% 98% / 220% 2px no-repeat,
        linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% /
          220% 2px no-repeat;
      color: #000;
      cursor: pointer !important;
      padding: 5px 2px;
      text-decoration: none !important;
      transition: all 0.35s ease-in-out;
      text-decoration: none;
      &:hover,
      &:focus {
        background-position: 0 98%, 100% 0;
        color: #000;
        outline: none;
        transition: all 0.35s ease-in-out;
      }
      &:visited {
        color: var(--color-charcoal);
      }
    }
  }

  .Header-header h1 a:hover {
    text-decoration: none;
  }

  .Header h1 a {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%)
        100% 98% / 220% 2px no-repeat,
      linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% /
        220% 2px no-repeat;
    color: #000;
    cursor: pointer !important;
    padding: 5px 2px;
    text-decoration: none !important;
    transition: all 0.35s ease-in-out;
  }

  .Header h1 a:hover,
  .Header h1 a:focus {
    background-position: 0 98%, 100% 0;
    color: #000;
    outline: none;
    transition: all 0.35s ease-in-out;
  }

  .dark-mode .Header h1 a {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #fff 50%)
        100% 98% / 220% 2px no-repeat,
      linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff 50%) 0% 0% /
        220% 2px no-repeat;
    color: #fff;
  }

  .dark-mode .Header h1 a:hover,
  .dark-mode .Header h1 a:focus {
    background-position: 0 98%, 100% 0;
    color: #fff;
    outline: none;
    transition: all 0.35s ease-in-out;
  }

  .social-links {
    display: none;

    @media (min-width: 640px) {
      display: flex;
    }
  }

  .social-links a {
    margin: 0 1rem;
  }

  .social-links svg {
    width: 30px;
    height: 30px;
  }

  .Header-header nav {
    @media (min-width: 1280px) {
      display: flex;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .Header-header nav.menu-mobile {
    display: flex;
    width: 0;
    @media (min-width: 1280px) {
      display: none;
    }
  }
}

.dark-mode {
  .Header {
    background: rgba(0, 0, 0, 0.8);
  }
  .Header-header h1 {
    color: #fff;
  }
  .Header a,
  .Header h1 a {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
}

.dark-mode .social-links svg {
  fill: white;
}

.dark-mode .Header-header nav ul li a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dark-mode .Header-header nav a:hover {
  color: #fff;
}

.dark-mode .Header-header nav a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.dark-mode .Header-header nav a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.dark-mode .Header-header nav a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.dark-mode .Header-header nav a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.dark-mode .Header-header nav a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.dark-mode .Header-header nav a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.dark-mode .Header-header nav a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.dark-mode .Header-header nav a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

@media (min-width: 1280px) {
  .Header-header h1 {
    font-size: 30px;
    padding-left: 75px;
  }

  .Header-header nav ul li a {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .social-links h1 {
    font-size: 25px;
    padding-left: 100px;
  }

  .social-links {
    padding-right: 150px;
  }
}

.menu-mobile-container {
  display: flex;
  align-items: center;
}

// Hamburger menu

.menu-mobile-container {
  display: flex;
  align-items: center;
}

.Header .menu {
  clear: both;
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    padding: 0.5rem 1.25rem;
    padding-bottom: 1px;
    padding-top: 2px;
  }
}

/* menu icon */

.Header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  user-select: none;
  margin: 0;
  left: -3rem;
}

.Header .menu-icon .navicon {
  background: black;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.Header .menu-icon .navicon:before,
.Header .menu-icon .navicon:after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.Header .menu-icon .navicon:before {
  top: 5px;
}

.Header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.Header .menu-btn {
  display: none;
}

.Header .menu-btn:checked ~ .menu {
  max-height: 280px;
  position: absolute;
  background: white;
  left: 0;
  top: 75px;
  width: 100%;
}

.Header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.Header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.Header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.Header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.Header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.dark-mode .Header .menu-icon .navicon {
  background: white;
}
.dark-mode .Header .menu-icon .navicon:before,
.dark-mode .Header .menu-icon .navicon:after {
  background: white;
}

.dark-mode .Header .menu li {
  background: black;
}

.Iconlinktext {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// Toggle theme
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;

  svg:last-of-type {
    margin-left: 10px;
  }

  .theme-toggle-toggler {
    display: flex;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #b4b4b4;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 20px;
  }
}
