.Header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
  z-index: 500;

  .Header-header {
    display: flex;
    align-items: center;
    min-height: 82px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .Header-header nav ul {
    display: flex;
    min-width: 500px;
    justify-content: space-around;
  }

  .Header-header nav ul li {
    display: flex;
  }

  .Header-header h1 {
    color: var(--color-charcoal);
    a {
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%) 100% 98% / 220% 2px no-repeat,
        linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% / 220% 2px no-repeat;
      color: #000;
      cursor: pointer !important;
      padding: 5px 2px;
      text-decoration: none !important;
      transition: all 0.35s ease-in-out;
      text-decoration: none;
      &:hover,
      &:focus {
        background-position: 0 98%, 100% 0;
        color: #000;
        outline: none;
        transition: all 0.35s ease-in-out;
      }
      &:visited {
        color: var(--color-charcoal);
      }
    }
  }

  .Header-header h1 a:hover {
    text-decoration: none;
  }

  .Header-header nav {
    text-transform: uppercase;
    font-size: 20px;
  }

  .Header h1 a {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%) 100% 98% / 220% 2px no-repeat,
      linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% / 220% 2px no-repeat;
    color: #000;
    cursor: pointer !important;
    padding: 5px 2px;
    text-decoration: none !important;
    transition: all 0.35s ease-in-out;
  }

  .Header h1 a:hover,
  .Header h1 a:focus {
    background-position: 0 98%, 100% 0;
    color: #000;
    outline: none;
    transition: all 0.35s ease-in-out;
  }

  .dark-mode .Header h1 a {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #fff 50%) 100% 98% / 220% 2px no-repeat,
      linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff 50%) 0% 0% / 220% 2px no-repeat;
    color: #fff;
  }

  .dark-mode .Header h1 a:hover,
  .dark-mode .Header h1 a:focus {
    background-position: 0 98%, 100% 0;
    color: #fff;
    outline: none;
    transition: all 0.35s ease-in-out;
  }

  .Header-header nav ul li a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .Header-header nav a {
    color: #666;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }

  .Header-header nav a span::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .Header-header nav a span::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .Header-header nav a::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid black;
    border-top: 2px solid black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }

  .Header-header nav a::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }

  .Header-header nav a:hover {
    color: black;
  }

  .Header-header nav a:hover::before {
    opacity: 1;
    right: 5px;
    top: 5px;
  }

  .Header-header nav a:hover::after {
    opacity: 1;
    left: 5px;
    bottom: 5px;
  }

  .Header-header nav a:hover span::before {
    opacity: 1;
    left: 5px;
    top: 5px;
  }

  .Header-header nav a:hover span::after {
    opacity: 1;
    right: 5px;
    bottom: 5px;
  }

  .social-links {
    display: flex;
  }

  .social-links a {
    margin: 0 1rem;
  }

  .social-links svg {
    width: 30px;
    height: 30px;
  }
}

.dark-mode {
  .Header {
    background: rgba(0, 0, 0, 0.8);
  }
  .Header-header h1 {
    color: #fff;
  }
  .Header a,
  .Header h1 a {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
}

.dark-mode .social-links svg {
  fill: white;
}

.dark-mode .Header-header nav ul li a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dark-mode .Header-header nav a:hover {
  color: #fff;
}

.dark-mode .Header-header nav a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.dark-mode .Header-header nav a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.dark-mode .Header-header nav a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.dark-mode .Header-header nav a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.dark-mode .Header-header nav a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.dark-mode .Header-header nav a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.dark-mode .Header-header nav a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.dark-mode .Header-header nav a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

@media (min-width: 1280px) {
  .Header-header h1 {
    font-size: 30px;
    padding-left: 75px;
  }

  .Header-header nav ul li a {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .social-links h1 {
    font-size: 25px;
    padding-left: 100px;
  }

  .social-links {
    padding-right: 150px;
  }
}
