.Header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: black 2px solid;
  position: sticky;
  top: 0;
  z-index: 500;
}

.Header-header {
  display: flex;
  align-items: center;
  min-height: 82px;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  nav ul {
    display: flex;
    min-width: 500px;
    justify-content: space-around;

    li {
      display: flex;
    }
  }

  h1 {
    color: var(--color-charcoal);

    a:hover {
      text-decoration: none;
    }
  }

  nav {
    text-transform: uppercase;
    font-size: 20px;
  }
}

.dark-mode {
  .Header {
    background: rgba(0, 0, 0, 0.8);
  }

  .Header-header h1,
  .Header a {
    color: #fff;
  }
}

.Header h1 a {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #000 50%) 100% 98% / 220% 2px no-repeat,
    linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%) 0% 0% / 220% 2px no-repeat;
  color: #000;
  cursor: pointer !important;
  padding: 5px 2px;
  text-decoration: none !important;
  transition: all 0.35s ease-in-out;

  &:hover,
  &:focus {
    background-position: 0 98%, 100% 0;
    color: #000;
    outline: none;
    transition: all 0.35s ease-in-out;
  }
}

.dark-mode .Header h1 a {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #fff 50%) 100% 98% / 220% 2px no-repeat,
    linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff 50%) 0% 0% / 220% 2px no-repeat;
  color: #fff;

  &:hover,
  &:focus {
    background-position: 0 98%, 100% 0;
    color: #fff;
    outline: none;
    transition: all 0.35s ease-in-out;
  }
}

.Header-header nav {
  ul li a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a {
    color: #666;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    span {
      &::before {
        width: 5px;
        height: 5px;
        background: transparent;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 2px solid black;
        border-left: 2px solid black;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
      }

      &::after {
        width: 5px;
        height: 5px;
        background: transparent;
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
      }
    }

    &::before {
      width: 5px;
      height: 5px;
      background: transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      border-right: 2px solid black;
      border-top: 2px solid black;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
    }

    &::after {
      width: 5px;
      height: 5px;
      background: transparent;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
    }

    &:hover {
      color: black;

      &::before {
        opacity: 1;
        right: 5px;
        top: 5px;
      }

      &::after {
        opacity: 1;
        left: 5px;
        bottom: 5px;
      }

      span {
        &::before {
          opacity: 1;
          left: 5px;
          top: 5px;
        }

        &::after {
          opacity: 1;
          right: 5px;
          bottom: 5px;
        }
      }
    }
  }
}

dark-mode .Header-header nav ul li a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dark-mode .Header-header nav a {
  &:hover {
    color: #fff;
  }

  span {
    &::before {
      width: 5px;
      height: 5px;
      background: transparent;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
    }

    &::after {
      width: 5px;
      height: 5px;
      background: transparent;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
      opacity: 0;
    }
  }

  &::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }

  &::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      right: 5px;
      top: 5px;
    }

    &::after {
      opacity: 1;
      left: 5px;
      bottom: 5px;
    }

    span {
      &::before {
        opacity: 1;
        left: 5px;
        top: 5px;
      }

      &::after {
        opacity: 1;
        right: 5px;
        bottom: 5px;
      }
    }
  }
}

.social-links {
  a {
    margin: 0 1rem;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.dark-mode .social-links svg {
  fill: white;
}

@media (max-width: 1280px) {
  .Header-header ul li a {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  a {
    padding-right: 150px;
  }
  .social-links svg {
    width: 18px;
    height: 18px;
  }

  .social-links h1 {
    font-size: 25px;
    padding-left: 100px;
  }
}
