.Home {
  text-align: center;
  background-image: url('./app-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dark-mode .Home:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100%;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
