:root {
  --color-charcoal: #2c3e50;
}

body {
  margin: 0;
  font-family: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-charcoal);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.light-mode {
  background: #fff;
}

.dark-mode {
  background: black;
}
