:root {
  --color-charcoal: #2c3e50;
}

$font-family: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-charcoal);

  &.dark-mode {
    color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
  padding: 15px 0;
}

h3 {
  font-size: 25px;
  padding: 15px 0;
}

ul {
  margin-left: 40px;

  li {
    padding: 10px 0;
    font-size: 20px;
  }
}

p {
  font-size: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.light-mode {
  background: #fff;
}

.dark-mode {
  background: black;

  .Form label h1 {
    color: white;
  }
}

.Button-wrap {
  display: flex;
}
